<h1>Listing students</h1>
<table>  
  <thead>
    <tr>
      <th>Studentid</th>
      <th>Allowed</th>
       <th olspan="3"></th>
    </tr>
  </thead>

 <tbody>
    <% @students.each do |student| %>
	<tr>
    		<td><%= student.StudentID %></td>
	    <td><%= student.Allowed %></td>
 	</tr>   
</tbody>
<% end %>

</table>


 



