<p id="notice"><%= notice %></p>

<p>
  <strong>Studentid:</strong>
  <%= @student.Studentid %>
</p>

<p>
  <strong>Allowed:</strong>
  <%= @student.allowed %>
</p>

<p>
  <strong>User:</strong>
  <%= @student.user_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
